body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(31, 31, 31);
    color: rgb(112, 255, 136);
}

.container {
    padding: 30px;
}

header,
main {
    padding: 0 200px;
}

header {
    box-shadow: rgba(255, 255, 255, 0.397) 0px 2px 0px;
    padding-bottom: 30px;
}

#nowa-ksiazka-button {
    font-size: 16px;
    padding: 20px 100px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    background-color: rgb(54, 54, 54);
    color: white;
    font-weight: bold;
    transition: 0.1s;
}

#nowa-ksiazka-button:hover {
    background-color: rgb(71, 71, 71);
}

main {
    margin-top: 20px;
    columns: 5;
    column-gap: 40px;
}

.ksiazka {
    background-color: rgb(58, 58, 58);
    position: relative;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
        rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    word-wrap: break-word;
    width: 100%;
    break-inside: avoid;
    margin-bottom: 30px;
}

.ksiazka:hover {
    background-color: rgb(63, 63, 63);
    scale: 1.05;
}

.pole {
    font-weight: bold;
    display: flex;
    justify-content: right;
    align-items: center;
}

input[type="text"] {
    background-color: rgb(88, 88, 88);
    border: none;
    color: white;
    padding: 8px;
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.id-box {
    font-size: 10px;
    text-align: center;
}

.id-box,
.tytul-box,
.autor-box {
    font-weight: bold;
}

.tytul-box,
.autor-box {
    margin: 10px 0;
}


.small {
    color: grey;
    font-size: 10px;
}

#edytuj-ksiazke-button {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color: rgb(37, 37, 37);
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

#edytuj-ksiazke-button:hover {
    background-color: rgb(29, 29, 29);
}

.hidden {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.096);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.modal {
    background-color: rgb(31, 31, 31);
    max-width: 500px;
    border: 1px solid grey;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.zamknij-button {
    border: none;
    background-color: inherit;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    margin: 8px;
}

.zamknij-button:hover {
    color: rgb(196, 196, 196);
}

#usun-ksiazke-button:hover::before {
    content: "Usuń? ";
}

#dodaj-ksiazke-button {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color: rgb(63, 63, 63);
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

#dodaj-ksiazke-button:hover {
    background-color: rgb(70, 70, 70);
}

@media (max-width: 1400px) {
    main {
        padding: 0;
    }

    header {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
}